.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loNadpis{
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;
}
.prihlaseni{
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loName, .loPassword{
    margin: 2px;
}
.loBack{
   margin-left: 1110px;
}