.reNadpis{
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;
}
.registrace{
    margin: 2px;
display: flex;
justify-content: center;
align-items: center;
}
.reName, .rePassword, .reClass, .reRole, .reTheme, .reTheme{
    margin: 2px;
}
.reBack{
    margin-left: 1415px;
}