.projNadpis{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    
    }
    .table{
        margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    

    .projeBack{
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }