.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nadpis {
    font-size: 38px;
    color: black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tlacitka {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.registraceTlacitko,
.prihlaseniTlacitko {
    margin: 10px;
}
