.nadpis{
color: black;
margin: 2px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 200px;

}
.tlacitka{
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.registraceTlacitko, .prihlaseniTlacitko{
    margin: 10px;
}

