.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 48px;
}
.project__tableContainer{
    overflow: hidden;
}
.reNadpis{
    margin: 0;
}

.info{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-top: 16px;
}
.projectTableContainer{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}