.taNadpis{
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .table{
        margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    

    .user{
        margin: 2px;
        float: left;
        
    }